<div class="footer">
    <div id='failyet' class="text-footer">
        <h2>Failyet</h2>


    </div>
    <div class="footercontent">


        <div class="serviceslink">
            <strong><a href="services.php">Services</a></strong>
            <div class="for">
                <div class="forstudent marginforservices">
                    <b>For Student</b>
                    <p><a href="forStudent9-10th.php">For Class 9th-10th</a></p>
                    <p><a href="forStudent11-12thclass.php">For Class 11th-12th</a></p>
                </div>
                <div class="forteacher marginforservices">
                    <b>For Teachers</b>
                    <p><a href="teacherstraining.php">Teachers Training</a></p>
                </div>
                <div class="forschool marginforservices">

                    <b>For School </b>
                    <p><a href="digitalschool.php">Digital School</a></p>
                    <p><a href="#">School Management</a></p>
                </div>
            </div>
            <br>
            <br>

        </div>


        <div class="contactUS margin">
            <strong>Contact US</strong>
            <br><br>
            <i id='mail' class="fas fa-envelope"><i class="fas fa-arrow-right"></i>failyetcounseling@gmail.com</i>

        </div>
        <div class="Slinks margin">

            <strong id="links">Social Links</strong>

            <div class="logo">

                <a href=""><img src="img/fb.png" alt="" width="30px" height="30px"></a>
                <a href=""><img id="ig" src="img/ig.png" alt="" width="40px" height="40px"></a>
                <a href=""><img id="lk" src="img/linkedin.png" alt="" width="43px" height="43px"></a>
            </div>
        </div>


    </div>

    <div class="copy">

        <h3>Copyright &copy;Failyet,All rights Reserved 2021.</h3>
    </div>

</div>